
.coverage
.env
.idea/
favorites/__pycache__/
favorites/tests/__pycache__/
geckodriver.log
products/__pycache__/
products/management/__pycache__/
products/management/commands/__pycache__/
products/requests_to_OFF/__pycache__/
products/tests/__pycache__/
pur_beurre/__pycache__/wsgi.cpython-38.pyc
tests/__pycache__/
tests/functionnal/__pycache__/
users/__pycache__/
users/tests/__pycache__/
venv/
webdrivers/
website/__pycache__/
website/tests/__pycache__/
