#logo{
    margin: 20px;
    }

#research{
    background: #DCDCDC;
    }

#well {
    margin-left: 50px;
    min-height: 25%;
}

#fail {
    margin-left: 50px;
    min-height: 25%;
}

#out {
    margin-left: 50px;
    min-height: 25%;
}

#address-account{
    margin-left: 50px;
    min-height: 25%;
}
