#remy{
    width: 150px;
    height: 150px;
    }

#colette{
    width: 150px;
    height: 150px;
    object-fit: cover;
    object-position: 50% 50%;
    }

.text-white-50 mb-4{
    display: inline-block;
    }
