// Variables

//- Override and add to color system

$rooibos: #C45525;
$moule: #345A61;
$bonbon: #86EBE6;
$caramel: #DE9440;
$biscuit: #E8A75D;

//- Override primary color
$primary: $rooibos;

//- Override font system
$font-family-base: "Scope One", sans-serif;
$headings-font-family: "Open Sans", sans-serif;

//- Add custom variables
$navbar-height: 4.5rem;

$text_color: #345A61;
